[submodule "www/tools/webinterface"]
	path = www/tools/webinterface
	url = git://github.com/WPN-XM/webinterface.git
[submodule "registry"]
    path = registry
    url = git://github.com/WPN-XM/registry.git
[submodule "software"]
	path = software
	url = git://github.com/WPN-XM/software.git
