[submodule "www/webinterface"]
	path = www/webinterface
	url = git://github.com/WPN-XM/webinterface.git
[submodule "server-control-panel"]
	path = server-control-panel
	url = git://github.com/WPN-XM/server-control-panel.git
