/* WPN-XM Webinterface Stylesheet */
body {
    margin: 0;
    padding: 0;
    font-family:  verdana, tahoma, arial, geneva, helvetica, sans-serif;
    background: #e7e7e7;
    font-size: 65%; /* Resets 1em to 10px */
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #333;
    text-align: center;
    line-height: 15px;
}

div.page-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1102px;
    min-width: 852px; /*930px;*/
    text-align: left;
    /*border: 1px solid black;*/
}

div.content-centered {
    /*border: 1px dotted red;*/
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

img
{
    border: 0px;
}

.version {
    font-weight: bold;
}

.red {
    color: red;
}

.title {
    padding-bottom: 12px;
}

.description {
    padding-bottom: 10px;
}

.license {
    padding-top: 10px;    
}

.resourceheader {
    margin-left:    10px;
    text-align:     left;
    font-size:      12px;
}


.resourceheader2 {
    text-align:     left;
    font-size:      12px;
}

.td-with-image {
    border-right:   1px dotted #B4B4B4;
    padding-right:  10px;
    width:          65px;
}

#footer {
    font-family: verdana, tahoma;
    font-size: 9px;
    text-align: center;
}

.cs-message {
    background: none repeat scroll 0 0 #CDCDCD;
    border-radius: 8px 8px 8px 8px;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cs-message-content {
    height: 162px;
    min-height: 162px;
    width: 380px;
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #A7A7A7;
    border-radius: 6px 6px 6px 6px;
    border-collapse: separate;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 2px;   
    text-align: left;   
    box-shadow: 1px 1px 0 #777777;
    font-size: 10px;    
}

.cs-message-content-projects {   
    width: 380px;
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #A7A7A7;
    border-radius: 6px 6px 6px 6px;
    border-collapse: separate;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 2px;   
    text-align: left;   
    box-shadow: 1px 1px 0 #777777;
    font-size: 10px;    
}

.cs-message-content-config {
    width: 850px; 
    height: auto;
    padding-top: 40px;
}

.cs-message h3 {
    margin: 5px;
    font-size: 13px;
}

#tab-content {
    padding-left: 12px;
    padding-right: 12px;
    overflow: hidden;
    font-size: 12px;
}

.res-header-icon {
    vertical-align: text-top;
}

h1#logo {
    background: url("../images/wpnxm-logo.png") no-repeat scroll 0 0 transparent;
    height: 88px;
    margin: 31px auto 18px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 423px;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    color: #D40408;
}

h1#logo {
    background-position: center bottom;
}

h1, h2 {
    text-shadow: 0 1px #FFFFFF;
    padding-bottom: 6px;
}

h2 {
    font-size: 15px;
    line-height: 30px;
    margin-top: 0px;
}

.aButton {
    background-color:transparent;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #a7a7a7;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 14px;
    text-decoration:none;
    margin-left: 3px;
    margin-top: 3px;
    cursor: pointer;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
}
.aButton:active {
    position:relative;
    top:1px;
}
.aButton:hover {
    border-color: #777;
    color: #333;
    outline: 0 none;
}
/* @todo: hovering the inner three rows with data, not the header, not the buttons;
table.cs-message-content tr:hover {
    background-color: #ddd;
}*/
a:hover {
    color:red;
}
a, a:link, a:visited {
    text-decoration:none;
}
a, h2 a:hover, h3 a:hover {
    color:#0066CC;
    text-decoration:none;
}
a, a:link, a:visited {
    text-decoration:none;
}
.horizontal-rule-light, #main-nav, header, h2 {
    border-bottom: 1px solid #BBBBBB;
    box-shadow: 0 1px 0 white;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.res-header-icon
{
    vertical-align: text-top;
}

hr.footer-line {
    width: 25%;
    border-width: 0px 0px 1px; border-style: solid; border-color: #BBBBBB;
    box-shadow: 0 1px 0 white;
    margin: auto;
    padding-top: 30px;
}

.footer-links {
    margin: auto;
    width: 780px;
}

div.right-box {float:left; margin-left: 2em;}
td.width-35 {width:35%;}
td.width-25 {width:25%;}
td.width-20 {width:20%;}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.bold {font-weight: bold}

div.left-box {float:left; margin-right: 2em;}
h1.headline {margin-top: 40px; margin-bottom: 30px; font-size: 18px; line-height: 22px;}
h1.headline small {
    font-size: 16px;    
}
.heading {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Menu Navigation */
.main_menu {
    display: inline-block;
    padding-bottom: 30px;
}
.main_menu ul {
    background: #D1D1D1;
    border: 1px solid #A8A8A8;
    border-radius: 8px 8px 8px 8px;
    float: left;
    padding: 0px;
    margin: 0px;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
li {
    list-style: none outside none;
}
.main_menu li {
    border-left: 1px solid #B9B9B9;
    float: left;
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    min-width: 130px;
    font-weight: bold;
    border-left: 1px solid white;
    border-right: 1px solid #888888;
}
.main_menu li a, .main_menu li a:hover {
    color: #333333;
    display: block;
    line-height: 16px;
    padding: 10px;
    text-shadow: 0 1px #FFFFFF;

}
.main_menu li a:hover, .main_menu li.selected {
    background: #FFFFFF;
    text-decoration: none;
}
.main_menu li.first, .main_menu li.first a:hover {
    border-radius: 8px 0 0 8px;

}
.main_menu li.last, .main_menu li.last a:hover {
    border-radius: 0 8px 8px 0;
    border-right: 0 none;
}
.clear_fix {
    display: block;
}

img
{
    border: 0px;
}

.inset-panel, #phpinfo table, #organic-tabs {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px white, 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    padding: 10px;
    border-collapse: separate; /* reverse bootstrap */
    border-spacing: 1px; /* reverse bootstrap */
}

.search {
    height: 100px;
    min-height: 100px;
    position: fixed;
    right: 50px;
}

#highlight { background:yellow; }
.highlight { background-color:yellow; color:inherit; text-decoration:inherit }

#phpinfo {}
#phpinfo pre { margin: 0px; font-family: monospace; }
#phpinfo a:link {}
#phpinfo a:hover {}
#phpinfo table { }
#phpinfo .center { text-align: center; }
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left; }
#phpinfo .center th { text-align: center !important; }
#phpinfo td, th { font-size: 12px; vertical-align: middle; }
#phpinfo h1 {}
#phpinfo h2 { font-size: 175%; }
#phpinfo .p { text-align: left; }
#phpinfo .e { background-color: #aaa; color: #000000; font-weight: bold; }
#phpinfo .h { background-color: #9999cc; font-weight: bold; color: #000000;}
#phpinfo .v { background-color: #bbb; color: #000000; }
#phpinfo .vr { background-color: #cccccc; text-align: right; color: #000000; }
#phpinfo img { border: 0 none; float: right; }
#phpinfo hr { background-color: #CCCCCC; border: 0 none; color: #000000; height: 1px; width: 600px; margin: 15px auto; }

/* Organic Tabs */

/* Generic Utility */
.hide { display: none; }
.clear { clear: both; }

/* Tab Style*/
#organic-tabs { background: #eee; padding: 10px; margin: 0 0 20px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; width: 820px; }

#organic-tabs .nav { overflow: hidden; margin: -41px 0 5px 0;}
#organic-tabs .nav li { min-width: 85px; width: auto; float: left; margin: 0 5px 0 0; }
#organic-tabs .nav li.last { margin-right: 0; }
#organic-tabs .nav li a { display: block; padding: 5px 15px; font-size: 11px; text-align: center; border: 1px solid #999;
                          border-radius: 4px 4px 0 0; border-bottom: 0px; text-shadow: 0 1px 1px #FFFFFF; color: #444;
                          background: rgb(238,238,238); /* Old browsers */
                          background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
                          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
                          background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
                          background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
                          background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
                          background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
                          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
#organic-tabs .nav li a:hover { background-color: #EEE; color: #333;}
#organic-tabs .nav li a.current { background: #EEE; font-weight: bold; border-bottom: 1px solid #eee; box-shadow: 1px 0 0 #BBB;}

#organic-tabs ul { list-style: none; padding: 0;}
#organic-tabs ul li a { display: block; padding: 4px; color: #444; }
#organic-tabs ul li a:hover { }
/* #organic-tabs ul li:last-child a { border: none; } */

#organic-tabs ul li.nav-one a.current, #organic-tabs ul.featured li a:hover { background-color: #0575f4; color: white;}
#organic-tabs ul li.nav-two a.current, #organic-tabs ul.core li a:hover { background-color: #d30000; color: white; }
#organic-tabs ul li.nav-three a.current, #organic-tabs ul.jquerytuts li a:hover { background-color: #8d01b0; color: white; }
#organic-tabs ul li.nav-four a.current, #organic-tabs ul.classics li a:hover { background-color: #FE4902; color: white; }

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.new-project-btn-position {
    position: relative;
    right: 6px;
}
.new-project-btn-position:active {
    position: relative;
}

/* jEditable */
.editable {
    font-weight: bold;
}
.editable-hover {
    background-image:  url("../img/pencil.png");
    background-repeat: no-repeat;
}

.new-vhost-btn {

}

/* message box css */
.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/messagebox/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/messagebox/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/messagebox/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/messagebox/error.png');
}

/* do not display the javascript off error box,
   it's enabled by the css set by the noscript section
   in the configuration page */
#javascript-off-errorbox {
    display: none;
}

/* jquery.modal.css */
.modal {
    display: none;
    width: 400px;
    background: #fff;
    padding: 15px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url('../img/close.png') no-repeat 0 0;
}

.modal-spinner {
    display: none;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -32px;
    margin-top: -32px;
    background: url('../img/ajax-spinner.gif') #111 no-repeat center center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

/* Forms */
#form label,
#form li:first-child span:first-child,
#form textarea {
    display: block;
}

textarea,
input[type="text"],     input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"],     input[type="month"],    input[type="time"],     input[type="week"],
input[type="number"],   input[type="email"],    input[type="url"],      input[type="search"],
input[type="tel"],      input[type="color"], .uneditable-input {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

select, textarea,
input[type="text"],     input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"],     input[type="month"],    input[type="time"],     input[type="week"],
input[type="number"],   input[type="email"],    input[type="url"],      input[type="search"],
input[type="tel"],      input[type="color"], .uneditable-input {
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
    border-radius: 3px 3px 3px 3px;
}

textarea:focus,
input[type="text"]:focus,   input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus,   input[type="month"]:focus,    input[type="time"]:focus,     input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus,    input[type="url"]:focus,      input[type="search"]:focus,
input[type="tel"]:focus,    input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

input, textarea {
    width: 210px;
}

.radio, .checkbox {
    min-height: 18px;
    padding-left: 18px;
}

/* twitter bootstrap overwrite */
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 0px;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    border: 1px solid #BBBBBB;
    width: 170px;
}

select, input[type="file"] {
    height: 28px;
    line-height: 28px;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

legend {

}

.active-element {
    background: none repeat scroll 0 0 #52A020;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
}

.not-active-element {
    background: none repeat scroll 0 0 #EEEEEE;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;    
    cursor: pointer !important;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
}

/* Form Actions Section */
.form-horizontal .form-actions {
    padding-left: 160px;
}
.form-actions {
    height: 30px;
}
.form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 0;
    margin-top: 18px;
    padding: 17px 20px 0;
}

/* Glyphs */
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
}
.icon-white {
    background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
    background-position: 0 0;
}
.icon-music {
    background-position: -24px 0;
}
.icon-search {
    background-position: -48px 0;
}
.icon-envelope {
    background-position: -72px 0;
}
.icon-heart {
    background-position: -96px 0;
}
.icon-star {
    background-position: -120px 0;
}
.icon-star-empty {
    background-position: -144px 0;
}
.icon-user {
    background-position: -168px 0;
}
.icon-film {
    background-position: -192px 0;
}
.icon-th-large {
    background-position: -216px 0;
}
.icon-th {
    background-position: -240px 0;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-ok {
    background-position: -288px 0;
}
.icon-remove {
    background-position: -312px 0;
}
.icon-zoom-in {
    background-position: -336px 0;
}
.icon-zoom-out {
    background-position: -360px 0;
}
.icon-off {
    background-position: -384px 0;
}
.icon-signal {
    background-position: -408px 0;
}
.icon-cog {
    background-position: -432px 0;
}
.icon-trash {
    background-position: -456px 0;
}
.icon-home {
    background-position: 0 -24px;
}
.icon-file {
    background-position: -24px -24px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-road {
    background-position: -72px -24px;
}
.icon-download-alt {
    background-position: -96px -24px;
}
.icon-download {
    background-position: -120px -24px;
}
.icon-upload {
    background-position: -144px -24px;
}
.icon-inbox {
    background-position: -168px -24px;
}
.icon-play-circle {
    background-position: -192px -24px;
}
.icon-repeat {
    background-position: -216px -24px;
}
.icon-refresh {
    background-position: -240px -24px;
}
.icon-list-alt {
    background-position: -264px -24px;
}
.icon-lock {
    background-position: -287px -24px;
}
.icon-flag {
    background-position: -312px -24px;
}
.icon-headphones {
    background-position: -336px -24px;
}
.icon-volume-off {
    background-position: -360px -24px;
}
.icon-volume-down {
    background-position: -384px -24px;
}
.icon-volume-up {
    background-position: -408px -24px;
}
.icon-qrcode {
    background-position: -432px -24px;
}
.icon-barcode {
    background-position: -456px -24px;
}
.icon-tag {
    background-position: 0 -48px;
}
.icon-tags {
    background-position: -25px -48px;
}
.icon-book {
    background-position: -48px -48px;
}
.icon-bookmark {
    background-position: -72px -48px;
}
.icon-print {
    background-position: -96px -48px;
}
.icon-camera {
    background-position: -120px -48px;
}
.icon-font {
    background-position: -144px -48px;
}
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-text-height {
    background-position: -216px -48px;
}
.icon-text-width {
    background-position: -240px -48px;
}
.icon-align-left {
    background-position: -264px -48px;
}
.icon-align-center {
    background-position: -288px -48px;
}
.icon-align-right {
    background-position: -312px -48px;
}
.icon-align-justify {
    background-position: -336px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-indent-left {
    background-position: -384px -48px;
}
.icon-indent-right {
    background-position: -408px -48px;
}
.icon-facetime-video {
    background-position: -432px -48px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-pencil {
    background-position: 0 -72px;
}
.icon-map-marker {
    background-position: -24px -72px;
}
.icon-adjust {
    background-position: -48px -72px;
}
.icon-tint {
    background-position: -72px -72px;
}
.icon-edit {
    background-position: -96px -72px;
}
.icon-share {
    background-position: -120px -72px;
}
.icon-check {
    background-position: -144px -72px;
}
.icon-move {
    background-position: -168px -72px;
}
.icon-step-backward {
    background-position: -192px -72px;
}
.icon-fast-backward {
    background-position: -216px -72px;
}
.icon-backward {
    background-position: -240px -72px;
}
.icon-play {
    background-position: -264px -72px;
}
.icon-pause {
    background-position: -288px -72px;
}
.icon-stop {
    background-position: -312px -72px;
}
.icon-forward {
    background-position: -336px -72px;
}
.icon-fast-forward {
    background-position: -360px -72px;
}
.icon-step-forward {
    background-position: -384px -72px;
}
.icon-eject {
    background-position: -408px -72px;
}
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-minus-sign {
    background-position: -24px -96px;
}
.icon-remove-sign {
    background-position: -48px -96px;
}
.icon-ok-sign {
    background-position: -72px -96px;
}
.icon-question-sign {
    background-position: -96px -96px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.icon-screenshot {
    background-position: -144px -96px;
}
.icon-remove-circle {
    background-position: -168px -96px;
}
.icon-ok-circle {
    background-position: -192px -96px;
}
.icon-ban-circle {
    background-position: -216px -96px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}
.icon-arrow-up {
    background-position: -289px -96px;
}
.icon-arrow-down {
    background-position: -312px -96px;
}
.icon-share-alt {
    background-position: -336px -96px;
}
.icon-resize-full {
    background-position: -360px -96px;
}
.icon-resize-small {
    background-position: -384px -96px;
}
.icon-plus {
    background-position: -408px -96px;
}
.icon-minus {
    background-position: -433px -96px;
}
.icon-asterisk {
    background-position: -456px -96px;
}
.icon-exclamation-sign {
    background-position: 0 -120px;
}
.icon-gift {
    background-position: -24px -120px;
}
.icon-leaf {
    background-position: -48px -120px;
}
.icon-fire {
    background-position: -72px -120px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-eye-close {
    background-position: -120px -120px;
}
.icon-warning-sign {
    background-position: -144px -120px;
}
.icon-plane {
    background-position: -168px -120px;
}
.icon-calendar {
    background-position: -192px -120px;
}
.icon-random {
    background-position: -216px -120px;
}
.icon-comment {
    background-position: -240px -120px;
}
.icon-magnet {
    background-position: -264px -120px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.icon-retweet {
    background-position: -336px -120px;
}
.icon-shopping-cart {
    background-position: -360px -120px;
}
.icon-folder-close {
    background-position: -384px -120px;
}
.icon-folder-open {
    background-position: -408px -120px;
}
.icon-resize-vertical {
    background-position: -432px -119px;
}
.icon-resize-horizontal {
    background-position: -456px -118px;
}
.icon-hdd {
    background-position: 0 -144px;
}
.icon-bullhorn {
    background-position: -24px -144px;
}
.icon-bell {
    background-position: -48px -144px;
}
.icon-certificate {
    background-position: -72px -144px;
}
.icon-thumbs-up {
    background-position: -96px -144px;
}
.icon-thumbs-down {
    background-position: -120px -144px;
}
.icon-hand-right {
    background-position: -144px -144px;
}
.icon-hand-left {
    background-position: -168px -144px;
}
.icon-hand-up {
    background-position: -192px -144px;
}
.icon-hand-down {
    background-position: -216px -144px;
}
.icon-circle-arrow-right {
    background-position: -240px -144px;
}
.icon-circle-arrow-left {
    background-position: -264px -144px;
}
.icon-circle-arrow-up {
    background-position: -288px -144px;
}
.icon-circle-arrow-down {
    background-position: -312px -144px;
}
.icon-globe {
    background-position: -336px -144px;
}
.icon-wrench {
    background-position: -360px -144px;
}
.icon-tasks {
    background-position: -384px -144px;
}
.icon-filter {
    background-position: -408px -144px;
}
.icon-briefcase {
    background-position: -432px -144px;
}
.icon-fullscreen {
    background-position: -456px -144px;
}

ul.projects, ul.tools {
    padding-top: 10px;
    margin: 2px;
}
